@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-Light.eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-Bold.eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-ExtraBold.eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-Regular.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-Thin.eot');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'food_delivery_font';
  src: url('../public/fonts/iFoodRCTextos-Medium.eot');
  font-weight: 500;
  font-style: normal;
} */

*,
*::after,
*::before {
  font-size: 14.5px;
  font-family: 'food_delivery_font' sans-serif;
  color: #3e3e3e;
  box-sizing: border-box;
}

.red-icon * {
  color: #ee4c58;
} 

.white-icon * {
  color: white;
} 

.gold-icon * {
  color: #fcbb00;
}

.gray-icon * {
  color: #717171;
}